.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
covidestim_county_estimates.RDS
app/melding_experiment.html
app/melding_experiment_files/*
docs/app/melding_experiment.html
docs/app/melding_experiment.Rmd
data/lineage_data_full.json
analysis/vignettes/melding_vignette_files
analysis/vignettes/melding_vignette_cache